{% extends 'DorinBundlesSlinkBundle::base.html.twig'  %}

{% block todo %}
    {% include 'DorinBundlesSlinkBundle::header.html.twig' %}
     <!-- BASIC INFO SECTION -->
   <div id="basic-info">
       <div class="container">
    
            {% if app.request.query.get('success') is defined %}
                
                {% if app.request.query.get('success') == 1 %}

                    {# Variable:  Short Link #}
                    {% set short =  'http://' ~ app.request.host ~ path('slink_home') ~ '?v=' ~  app.request.query.get('short')  %}

                    <!-- Short Link -->
                    <div class="row main-top-margin text-center">
                        <div class="col-md-6 col-md-offset-3">
                            <h1>Great!</h1>
                                <div class="well">
                                    <a href="{{short}}" class="btn">http://slink.com?v={{ app.request.query.get('short') }}</a>
                                    
                                </div>
                            <br>
                        </div>
                    </div>

                    <!-- Social buttons -->
                    
                    <div class="row main-low-margin text-center">
                        <div class="col-md-6 col-md-offset-3">
                            <h3>Share it! <i class="fa fa-share"></i></h3>
                            <a href="http://www.twitter.com/share?url={{ short }}" class="btn btn-lg fa fa-twitter fa-3x"></a>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ short }}" class="btn btn-lg fa fa-facebook fa-3x"></a>
                        </div>      
                    </div>

                {% else %}
                
                <!-- Form -->
                <div class="row main-top-margin text-center">
                    <div class="col-md-6 col-md-offset-3 " >
                        <h1>Short your link. <b>It's free!</b></h1>					
                        
                        {{ form_start(form, {'full_name':'form'}) }}                      
                        {{ form_widget(form._token) }}                      
                            <div class="form-group input-group-lg">
                                {{ form_widget(form.url) }}
                            </div>
                            
                            <div class="form-group">
                                
                                <script>
                                    function switch_check () {
                                        if(document.getElementById('switch').checked==true){
                                            document.getElementById('label_switch').innerHTML = 'Available during 24h';
                                        }else{
                                            document.getElementById('label_switch').innerHTML = 'The short link will not expire';
                                        }
                                    }
                                </script>

                                <label for="switch">
                                    <i id="label_switch">The short link will not expire</i>
                                    <input id="switch" disabled name="available" type="checkbox" class="ios-switch" onclick="switch_check()">
                                    <div class="switch"></div>
                                    <i class="fa fa-warning"><small>Working on it</small></i>
                                </label>                                     
                            </div>
                            
                            <div class="form-group">
                                {{ form_widget(form.save) }}
                            </div>


                        <p><small>Pressing <b>Get it!</b> I accept the <a href="{{ path('slink_about' )}}">terms and conditions of use</a></small></p>
                    </div>
                </div>

                <!-- Explication -->
                <div class="row main-low-margin text-center">
                    <div class="col-md-4 col-sm-6" >
                            <div class="text-center">
                                <i class="fa fa-money fa-5x color-black"></i>
                                <h4>It's free</h4>
                                <p>
                                  Just use it. You don't need to pay anything.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6"  >
                            <div class="text-center">
                                <i class="fa fa-user fa-5x color-black"></i>
                                <h4>You choose</h4>
                                <p>
                                    <b>As you want, it's your choice </b> to do the link to be <i>alive</i> more than 24h or not.
                                    <i class="fa fa-smile-o fa-2x color-green"></i>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6" >
                            <div class="text-center">
                                <i class="fa fa-question fa-5x color-black"></i>
                                <h4>How to?</h4>
                                <p>
                					Copy the link you want to short and obtain the new short link through our system
                                </p>
                            </div>
                        </div>
                </div>

                {% endif %}
            {% endif %}

        </div>
   </div>
    <!--END BASIC INFO SECTION -->
	
{% endblock %}
